<section class="page">

  <h1>Updates</h1>

  <p>
    Updates to the Owner Search tool will be listed here. Check back often to see what has changed.
  </p>

  <article>
    <h2>Loading Bug Fixed, Displaying Found Terms, Field Re-Ordering, Access Notice</h2>

    <p>
      <time datetime="2021-01-22">2021, January 22nd</time>
    </p>

    <p>
      There was a bug where when a user was logging into the system for the first time, "Loading..." would display endlessly instead of a Default board being created. This has been fixed so users will see their Default board when logging in for the first time, without needing to refresh the page.
    </p>

    <p>
      On property cards, the address field was moved to the top and a slight font bolding applied to help visually anchor users in each card. On corporation cards, the name field was bolded.
    </p>

    <p>
      In your Saved Results column, there is now an expandable details section named "Found Terms". This will display all the unique owner and owner address values for properties in your Saved Results. You can expand/collapse and resize as needed.
    </p>

    <p>
      As we move towards a formal release, there will be requirements for maintaining access to the system. A banner was added to inform users if their access will be expiring so they can take action.
    </p>
  </article>

  <article>
    <h2>Added Updates Page</h2>

    <p>
      <time datetime="2021-01-03">2021, January 3rd</time>
    </p>

    <p>
      That's this page! Updates to the Owner Search tool will be listed here. Check back often to see what has changed.
    </p>

    <p>
      In addition the the updates page, some branding was added, and a request before authentication was fixed so non-logged-in-users won't recieve a request failed notification.
    </p>
  </article>

  <article>
    <h2>Added WPRDC Data About Parcels</h2>

    <p>
      <time datetime="2020-12-31">2020, December 31st</time>
    </p>

    <p>A "👁️ More Info" button was added to properties that will open a "Parcel Info" pane that has the same information as <a target="_blank" href="https://tools.wprdc.org/property-dashboard/">WPRDC's Property Dashboard</a> sidebar, thanks to their API.</p>
  </article>

  <article>
    <h2>Owner Search Created</h2>

    <p>
      <time datetime="2020">2020</time>
    </p>

    <p>Owner Search was created, with the ability to search Allegheny County property records and Pennsylvania Corporation Records. Searches can be organized into "Boards". Records are queryable by multiple data properties, can be saved, and exported.</p>
  </article>

</section>
