<section class="header" *ngIf="!authService.isAuthenticated">
  <h2>Welcome to Pgh Owner Search</h2>

  <h3>Powered by <a href="https://housingdb.org" target="_blank">HousingDB</a></h3>
</section>

<section class="login-prompt" *ngIf="!authService.isAuthenticated">
  <h2>Access Pgh Owner Search</h2>
  <button routerLink="#" mat-raised-button color="primary" (click)="doLogin()">Log in/ Sign up Now</button>
</section>

<section class="searches" *ngIf="authService.isAuthenticated">
  <h2>New Search</h2>
  <mat-expansion-panel #formAccordion *ngIf="authService.isAuthenticated">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Start an Enumeration Search
      </mat-panel-title>
      <mat-panel-description>
        Start, End, Queues
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form (submit)="submit()" [formGroup]="form" #ngFormDirective="ngForm" [ngClass]="{'submit-attempt': submitAttempt}">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Start</mat-label>
        <input matInput formControlName="start">
      </mat-form-field>
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>End</mat-label>
        <input matInput formControlName="end">
      </mat-form-field>
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Queues</mat-label>
        <input matInput formControlName="queues">
      </mat-form-field>
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </form>
  </mat-expansion-panel>

  <h2>Searches</h2>
  <p>
    <button class="click" (click)="refreshSearches()">Refresh Feed</button>
    <button class="click" (click)="closeAllBrowserTabs()">Close All Tabs</button>
  </p>
  <ng-container *ngFor="let search of searches">
    <mat-expansion-panel class="search" [expanded]="events.hasOwnProperty(search.id)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="title">Search: {{ clipId(search.id) }}</span>
          <small class="tag" *ngIf="events.hasOwnProperty(search.id)">
            Active
          </small>
        </mat-panel-title>
        <mat-panel-description>
          {{ search.query.start }}-{{ search.query.end }}, {{ search.query.queues }} queues
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="resume search">
        <button type="button" (click)="stopEnumeration(search.id)">Stop</button>
        <button type="button" (click)="resumeEnumeration(search.id)">Resume</button>
      </div>
      <div class="queue active" *ngFor="let q of search.queues | keyvalue">
        <ng-container *ngIf="events.hasOwnProperty(search.id) && events[search.id].hasOwnProperty(q.key); else notActive">
          <h3 class="queue-num">queue: {{ int(q.key) + 1 }}</h3>
          <div class="numerical-progress">
            <span class="processing">processing record {{events[search.id][q.key].id}}</span>
            <span class="total-range">collecting {{q.value.start}} to {{q.value.end}}</span>
          </div>
          <mat-progress-bar
          title="start:{{q.value.start}}, end:{{q.value.end}}, current:{{events[search.id][q.key].id}}"
          mode="determinate"
          [value]="(events[search.id][q.key].status == 'complete') ? 100 : ((events[search.id][q.key].id-(q.value.start-1))/(q.value.end-(q.value.start-1)))*100"
          ></mat-progress-bar>
          <div class="details">
            <span class="status" title="status">status: {{ events[search.id][q.key].status }}</span>
            <span class="percent">{{roundUp(((events[search.id][q.key].id-(q.value.start-1))/(q.value.end-(q.value.start-1)))*100)}}% complete</span>
          </div>
        </ng-container>
        <ng-template #notActive>
          <h3 class="queue-num">queue: {{ int(q.key) + 1 }}</h3>
          <div class="numerical-progress">
            <span class="processing">processing record {{q.value.id}}</span>
            <span class="total-range">collecting {{q.value.start}} to {{q.value.end}}</span>
          </div>
          <mat-progress-bar
          title="start:{{q.value.start}}, end:{{q.value.end}}, current:{{q.value.id}}"
          mode="determinate"
          [value]="(q.value.status == 'complete') ? 100 : ((q.value.id-(q.value.start-1))/(q.value.end-(q.value.start-1)))*100"
          ></mat-progress-bar>

          <div class="details">
            <span class="status" title="status">status: {{ q.value.status }}</span>
            <span class="percent">{{roundUp(((q.value.id-(q.value.start-1))/(q.value.end-(q.value.start-1)))*100)}}% complete</span>
          </div>
        </ng-template>
      </div>
    </mat-expansion-panel>
  </ng-container>
</section>
