section {
  max-width: 82.5rem;
  padding: .5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.numerical-progress,
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searches h2 {
  margin-top: 2rem;
  margin-bottom: .5rem;
}

mat-card h3,
h3.queue-num {
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

.mat-raised-button {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.click {
  cursor: pointer;
}

.search {
  margin-bottom: .5rem;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  align-items: center;
}

.mat-expansion-panel-header-title {
  flex-basis: 40%;
}

.mat-expansion-panel-header-description {
  flex-basis: 60%;
}

mat-panel-title {
  .title {
    font-size: 1.25rem;
  }

  .tag {
    border-radius: .25rem;
    padding: 0 .175rem;
    line-height: 1.5;
    margin-left: 1rem;
    border: .175rem solid #f1f1f1;
  }
}
