:host {
  height: 100%;
  display: block;
}
.click {
  cursor: pointer;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.title-and-board {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  h1 {
    margin-right: 2rem;
  }
  mat-form-field {
    flex-basis: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}
.page-title {
  margin-top: 1rem;
}
.searches {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  // min-height: 30rem;
  max-height: 100%;
  // set height small and let it grow to fill
  height: 10rem;
  flex-grow: 1;
  &::after {
    content: "";
    display: flex;
    flex-shrink: 0;
    flex-basis: .01px;
  }
  >*:first-child {
    margin-left: 1rem;
  }
  >*:last-child {
    margin-right: 1rem;
  }
  .details {
    max-height: 80%;
  }
  .details details:not([open]) {
    height: auto !important;
  }
  .details details[open] {
    max-height: 100%;
    height: auto;
    overflow: scroll;
    resize: vertical;
  }
  .details details summary {
    cursor: pointer;
  }
}

.search.terms .term ul {
  padding-left: 1rem;
}

.new-search {
  flex-shrink: 0;
  width: 15rem;
  .search-builder {
    width: 100%;
  }
  button {
    margin-right: 0;
  }
  button.open-search {
    width: 100%;
    margin-bottom: .5rem;
  }
  .prefill-director {
    header {
      button {
        width: auto;
      }
    }
    button {
      margin-bottom: .5rem;
    }
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin-bottom: 0;
    }
  }
}

.prefill-director button {
  width: 100%;
}

.search {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  // background-color: #00000025;
  background-color: #444;
  min-height: 2rem;
  width: 17rem;
  margin-right: 1rem;
  border-radius: .25rem;
  padding: .25rem;
  // overflow-y: auto;
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0;
    }
    details {
      position: relative;
      background-color: #333;
      align-self: start;
      width: 2rem;
      flex-shrink: 0;
      margin-top: .2rem;
      summary {
        cursor: pointer;
        font-weight: bold;
        padding: .25rem;
        padding-bottom: .5rem;
        text-align: center;
        font-size: .75rem;
        line-height: 1;
        &::marker {
          color: transparent;
          font-size: 0;
        }
      }
      .menu {
        width: 12rem;
        border: 1px solid #333;
        background-color: #222;
        border-radius: 4px;
        position: absolute;
        padding: .25rem;
        top: 100%;
        right: 0;
        button, .button {
          width: 100%;
          background-color: #444;
          margin-right: 0;
          margin-bottom: .25rem;
          color: #f1f1f1;
        }
      }
    }
  }
  .results-save {
    h3 {
      margin-bottom: 0;
    }
  }
  main {
    overflow-y: auto;
    flex-grow: 1;
    button.delete-action,
    button.save-action {
      float: right;
      margin-right: 0;
    }
    button, .button {
      padding: .25rem .5rem;
      background-color: #444;
      color: #fff;
    }
  }
  .search-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .search-item {
    background-color: #faa300;
    border-radius: .25rem;
    padding: 0 .25rem;
    margin: 0 .25rem .25rem;
    color: #333;
    text-transform: capitalize;
  }
  .match, .term {
    border-radius: .25rem;
    margin: .25rem 0;
    padding: .25rem;
    text-transform: capitalize;
    background-color: #333;
    .property-address,
    .corp-name {
      font-weight: bold;
    }
  }

  .type {
    font-weight: bold;
  }
  .field {
    margin-left: .5rem;
  }
}

fieldset {
  margin: .5rem 0;
}

.field {
  margin-bottom: .25rem;

  input {
    color: #333;
    border-radius: .25rem;
    background-color: #FBFAFA;
    border-color: #a2a2a2;
    padding: .25rem .5rem;
    border-width: .175rem;
    max-width: 100%;
  }
  input:focus {
    border-color: cornflowerblue;
  }
}
.field-add-rm-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: .25rem;
  input {
    margin-right: .25rem;
    // We set width small and allow it grow into available space so it doesn't
    // overflow the fieldset/cause fieldset to expand
    width: 1rem;
    flex-grow: 1;
  }
  button {
    width: auto;
  }
}

section.parcel-info {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: 1px solid #3c3b3b;
  border-left: 0;
  position: absolute;
  height: 100%;
  background-color: #444;
  min-height: 2rem;
  width: 18rem;
  border-radius: 0 .25rem .25rem 0;
  padding: .25rem;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
  main {
    overflow-y: auto;
    .category {
      border-radius: .25rem;
      margin: .25rem 0;
      padding: .25rem;
      text-transform: capitalize;
      background-color: #333;
    }
    mat-expansion-panel {
      margin-bottom: .25rem;
    }
  }

}

@media (prefers-reduced-motion: no-preference) {
  section.parcel-info {
    left: -18rem;
    animation-duration: .5s;
    animation-name: parcel-info_slide-out;
    animation-fill-mode: forwards;
  }
}

@keyframes parcel-info_slide-out {
  from {
    left: -18rem;
  }
  to {
    left: 0rem;
  }
}

.attribution {
  img {
    height: .9rem;
    display: inline;
    vertical-align: middle;
  }
}
