<section class="header" *ngIf="!authService.isAuthenticated">
  <h2>
    Welcome to <br>
    {{env.siteName}}</h2>

  <h3>Powered by <a href="https://housingdb.org" target="_blank">HousingDB</a></h3>
</section>

<section class="login-prompt" *ngIf="!authService.isAuthenticated">
  <h2>Access {{env.siteName}}</h2>
  <button routerLink="#" mat-raised-button color="primary" (click)="doLogin()">Log in/ Sign up Now</button>
</section>

<div class="page" *ngIf="authService.isAuthenticated">
  <div class="title-and-board">
    <h1 class="page-title">Search Property and Corporation Ownership</h1>
    <div class="select-board">
      <label>
        Select Board
        <select (change)="setActiveBoardSelect($event)" [value]="boardId">
          <option *ngFor="let board of boards" [value]="board.id">
            {{board.name}}
          </option>
        </select>
      </label>
    </div>
    <button (click)="openNewBoardDialog()">New Board</button>
  </div>
  <div class="loading" *ngIf="!board">
    Loading Your Board...
  </div>
  <div class="searches" *ngIf="board">
    <section class="search terms">
      <header>
        <h1>
          Search Terms
        </h1>
        <details>
          <summary>...</summary>
          <div class="menu">
            <button type="button" (click)="clearTerms()">Clear</button>
          </div>
        </details>
      </header>
      <main>
        <div class="term" *ngFor="let term of board.terms | keyvalue">
          <h2>{{term.key}}</h2>
          <ul class="type">
            <li *ngFor="let type of term.value | keyvalue">
              {{type.key}}:
              <ul class="field">
                <li *ngFor="let field of type.value | keyvalue">
                  {{field.key}} | {{field.value}}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </main>
    </section>

    <section class="search">
      <header>
        <h1>
          My Saved Results
        </h1>
        <details>
          <summary title="Actions Menu"><span class="screen-reader-text">Actions Menu</span>...</summary>
          <div class="menu">
            <a class="icon button" target="_blank" [href]="parcelsMapLink(boardSavesPids(board.saves))" (click)="openParcelsMapLink($event, boardSavesPids(board.saves))">🗺️ Map</a>
            <button (click)="export(board.saves)">Export</button>
            <button (click)="clearSaves()">Clear</button>
          </div>
        </details>
      </header>
      <div class="details">
        <details>
          <summary>Found Terms</summary>
          <div class="search-field" *ngFor="let field of saveTerms | keyvalue">
            <ng-container *ngIf="field.key == 'owner'">
              Owner
            </ng-container>
            <ng-container *ngIf="field.key == 'ownerAddress'">
              Owner Address
            </ng-container>
            <span class="search-item" *ngFor="let item of field.value | keyvalue">
              {{item.key}}
            </span>
          </div>
        </details>
      </div>
      <div class="results-save">
        <h3>Results [{{board.saves.length}}]</h3>
      </div>
      <main>
        <article class="match" *ngFor="let result of board.saves; index as index">
          <ng-container *ngIf="result.type == 'property'">
            <button class="icon delete-action" title="Remove Result" type="button" (click)="deleteSave(index)">X</button>
            <span class="property-address">address: {{result.address | lowercase}}</span><br>
            <span class="id">Parid: {{result.parid}}</span><br>
            <span class="home" *ngIf="result.home == 'HOM'">Home<br></span>
            municipality: {{result.muniDesc | lowercase}}<br>
            owner: {{result.owner | lowercase}}
            <button class="icon" title="Search Owner" type="button" (click)="prefillRequest('property', 'owner', result.owner)">🔎</button>
            <br>
            owner address: {{result.ownerAddress | lowercase}}
            <button class="icon" title="Search Address" type="button" (click)="prefillRequest('property', 'ownerAddress', result.ownerAddress)">🔎</button>
            <button class="icon" (click)="getMoreParcelInfo(result.parid)">👁️‍ More Info</button>
            <a class="icon button" target="_blank" [href]="parcelsMapLink([result.parid])" (click)="openParcelsMapLink($event, [result.parid])">🗺️ Map</a>
          </ng-container>
          <ng-container *ngIf="result.type == 'corp'">

            <ng-container *ngIf="result.details.Name">
              <button class="icon delete-action" type="button" title="Remove Result" (click)="deleteSave(index)">X</button>
              <span class="corp-name"><span>Name: </span><span>{{ result.details.Name }}</span></span>
              <button class="icon" title="Search Name" type="button" (click)="prefillRequest('corp', 'Name', result.details.Name)">🔎</button>
              <br>
            </ng-container>

            <ng-container *ngIf="result.details.Address">
              <span>Address: </span><span>{{ result.details.Address }}</span>
              <button class="icon" title="Search Address" type="button" (click)="prefillRequest('corp', 'Address', result.details.Address)">🔎</button><br>
            </ng-container>
            <h2>Details</h2>
            <ng-container *ngFor="let item of result.details | keyvalue">
              <ng-container *ngIf="
                item.key != 'Address' &&
                item.key != 'Name'
              ">
                <span>{{ item.key }}: </span><span>{{ item.value }}</span><br>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="result.officers">
              <h2>Officers</h2>
              <div *ngFor="let officer of result.officers">
                <div *ngFor="let item of officer | keyvalue">
                  <span>{{ item.key }}: </span><span>{{ item.value }}</span><br>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </article>
      </main>
    </section>

    <section class="search" *ngFor="let search of board.searches; index as index">
      <header>
        <h1>
          <ng-container *ngIf="search.type == 'property'">Property</ng-container>
          <ng-container *ngIf="search.type == 'corp'">Corp</ng-container>
          Search
        </h1>
        <details>
          <summary title="Actions Menu"><span class="screen-reader-text">Actions Menu</span>...</summary>
          <div class="menu">
            <!-- <button>Export</button> -->
            <button class="icon" title="Save All Results" type="button" (click)="addAllToSaves(search.type, search.results)">💾 Save All</button>
            <hr>
            <button class="delete" (click)="deleteSearch(index)">Delete Search</button>
          </div>
        </details>
      </header>
      <div class="details">
        <ng-container  *ngIf="search.type == 'property'">
          <div *ngFor="let field of formPropertyFields">
            <div class="search-field" *ngIf="search.query.hasOwnProperty(field.name)">
              {{ field.label }}: <span class="search-item" *ngFor="let item of search.query[field.name]; itemI as index">{{item}} </span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="search.type == 'corp'">
          <div *ngFor="let field of formCorpFields">
            <div class="search-field" *ngIf="search.query.hasOwnProperty(field.name)">
              {{ field.label }}: <span class="search-item">{{search.query[field.name]}} </span>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="notices" *ngIf="search.notices && search.notices.length">
        <h3>Notices</h3>
        <ul>
          <li *ngFor="let notice of search.notices">[!] {{notice.message}}</li>
        </ul>
      </div>
      <div class="results-save">
        <h3>Results [{{search.count}}]</h3>
      </div>
      <main>
        <article class="match" *ngFor="let result of search.results">
          <ng-container *ngIf="search.type == 'property'">
            <button class="icon save-action" title="Save Result" type="button" (click)="addToSaves(search.type, result)">💾</button>
            <span class="property-address">address: {{result.address | lowercase}}</span><br>
            <span class="id">Parid: {{result.parid}}</span><br>
            <span class="home" *ngIf="result.home == 'HOM'">Home<br></span>
            municipality: {{result.muniDesc | lowercase}}<br>
            owner: {{result.owner | lowercase}}
            <button class="icon" title="Search Owner" type="button" (click)="prefillRequest('property', 'owner', result.owner)">🔎</button>
            <br>
            owner address: {{result.ownerAddress | lowercase}}
            <button class="icon" title="Search Address" type="button" (click)="prefillRequest('property', 'ownerAddress', result.ownerAddress)">🔎</button>
            <button class="icon" (click)="getMoreParcelInfo(result.parid)">👁️ More Info</button>
            <a class="icon button" target="_blank" [href]="parcelsMapLink([result.parid])" (click)="openParcelsMapLink($event, [result.parid])">🗺️ Map</a>
          </ng-container>
          <ng-container *ngIf="search.type == 'corp'">

            <ng-container *ngIf="result.details.Name">
              <button class="icon save-action" type="button" title="Save Result" (click)="addToSaves(search.type, result)">💾</button>
              <span class="corp-name"><span>Name: </span><span>{{ result.details.Name }}</span></span>
              <button class="icon" title="Search Name" type="button" (click)="prefillRequest('corp', 'Name', result.details.Name)">🔎</button><br>
            </ng-container>

            <ng-container *ngIf="result.details.Address">
              <span>Address: </span><span>{{ result.details.Address }}</span>
              <button class="icon" title="Search Address" type="button" (click)="prefillRequest('corp', 'Address', result.details.Address)">🔎</button><br>
            </ng-container>
            <h2>Details</h2>
            <ng-container *ngFor="let item of result.details | keyvalue">
              <ng-container *ngIf="
                item.key != 'Address' &&
                item.key != 'Name'
              ">
                <span>{{ item.key }}: </span><span>{{ item.value }}</span><br>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="result.officers">
              <h2>Officers</h2>
              <div *ngFor="let officer of result.officers">
                <div *ngFor="let item of officer | keyvalue">
                  <span>{{ item.key }}: </span><span>{{ item.value }}</span><br>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </article>
      </main>
    </section>

    <section class="new-search">
      <div class="search-type" *ngIf="!searchPropertyBuilderOpen && !searchCorpBuilderOpen && !prefillValue">
        <h2>What type of search would you like to do?</h2>
        <button class="open-search" (click)="openSearch('property')">New Property Search</button>
        <button class="open-search" (click)="openSearch('corp')">New Corp Search</button>
      </div>
      <div class="prefill-director" *ngIf="prefillValue !== ''">
        <header>
          <h1>Direct prefill to:</h1>
          <button (click)="prefillCancel()">X</button>
        </header>
        <p>Prefill Value: <span class="prefill-value">{{prefillValue}}</span></p>
        <h3>Property Search</h3>
        <button type="button" (click)="prefillDirector('property', 'address', prefillValue)">
          Address
        </button>
        <button type="button" (click)="prefillDirector('property', 'owner', prefillValue)">
          Owner
        </button>
        <button type="button" (click)="prefillDirector('property', 'ownerAddress', prefillValue)">
          Owner Address
        </button>
        <h3>Corp Search</h3>
        <button type="button" (click)="prefillDirector('corp', 'name', prefillValue)">
          Corp/Officer Name
        </button>
        <button type="button" (click)="prefillDirector('corp', 'address', prefillValue)">
          Corp/Officer Address
        </button>
      </div>
      <div class="search-builder" *ngIf="searchPropertyBuilderOpen">
        <header>
          <h1>Property Search</h1>
          <button (click)="closeSearch()">X</button>
        </header>
        <form (submit)="submit('property')" [formGroup]="formProperty" #ngFormDirective="ngForm" [ngClass]="{'submit-attempt': submitAttempt}">

          <div class="field" *ngFor="let field of formPropertyFields" [formArrayName]="field.name" appearance="standard" floatLabel="always">
            <label [id]="field.name">{{ field.label }}</label>
            <div class="field-add-rm-container" *ngFor="let item of formProperty.controls[field.name].controls; let index = index">
              <input [formControlName]="index" [attr.aria-labelledby]="field.name">
              <button *ngIf="index == 0" type="button" (click)="addField('property', field.name)">+</button>
              <button *ngIf="index > 0" type="button" (click)="rmField('property', field.name, index)">-</button>
            </div>
          </div>

          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="search-builder" *ngIf="searchCorpBuilderOpen">
        <header>
          <h1>Corps Search</h1>
          <button (click)="closeSearch()">X</button>
        </header>
        <form (submit)="submit('corp')" [formGroup]="formCorp" #ngFormDirective="ngForm" [ngClass]="{'submit-attempt': submitAttempt}">
          <ng-container *ngFor="let field of formCorpFields">
            <ng-container *ngIf="field.type == 'string'">
              <div class="field">
                <label [id]="'corp-'+field.name">{{ field.label }}</label>
                <input [formControlName]="field.name" [attr.aria-labelledby]="'corp-'+field.name">
              </div>
            </ng-container>
          </ng-container>
          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </section>

    <section class="parcel-info" *ngIf="parcelInfo">
      <header>
        <h1>Parcel Info</h1>
        <button (click)="closeMoreParcelInfo()">Close</button>
      </header>
      <main>
        <div *ngIf="parcelInfo?.status == 'loading'">
          <p>Loading...</p>
        </div>
        <div *ngIf="parcelInfo?.status == 'ready'">
          <article *ngFor="let result of parcelInfo.results">
            <dl>
              <dt>Parcel ID</dt>
              <dd>{{result.parcel_id}}</dd>
            </dl>

            <ng-container *ngFor="let assessment of result.data.assessments">
              <div class="category">
                <h3>Assessment Info</h3>
                <dl>
                  <dt>Address</dt>
                  <dd>
                    <p>
                      {{assessment.PROPERTYHOUSENUM}}
                      {{assessment.PROPERTYFRACTION}}
                      {{assessment.PROPERTYUNIT}}
                      {{assessment.PROPERTYADDRESS}},
                      {{assessment.PROPERTYCITY}}
                      {{assessment.PROPERTYSTATE}}
                      {{assessment.PROPERTYZIP}}
                    </p>
                  </dd>
                </dl>
              </div>

              <div class="category">
                <h3>Property Characteristics</h3>

                <dl>
                  <dt>Use Class</dt>
                  <dd><p>{{assessment.CLASSDESC}}</p></dd>

                  <dt>Owner Type</dt>
                  <dd><p>{{assessment.OWNERDESC}}</p></dd>

                  <dt>Land Use</dt>
                  <dd><p>{{assessment.USEDESC}}</p></dd>

                  <dt>Lot Size</dt>
                  <dd><p>{{assessment.LOTAREA}} square feet</p></dd>
                </dl>
                <small class="attribution" title='"Allegheny County Property Assessments" by Allegheny County is CC Zero'>
                  <a target="_blank" href="https://data.wprdc.org/dataset/property-assessments">
                    <img src="/assets/icon/cc-zero.png" alt="CC Zero">
                    Allegheny County
                  </a>
                </small>
              </div>

              <div class="category">
                <h3>Property Owner</h3>

                <dl>
                  <dt>Property Owner</dt>
                  <dd><p>{{result.owner}}</p></dd>

                  <dt>Property Owner Address</dt>
                  <dd><p>
                    {{assessment.CHANGENOTICEADDRESS1}}
                    {{assessment.CHANGENOTICEADDRESS2}}
                    {{assessment.CHANGENOTICEADDRESS3}}
                    {{assessment.CHANGENOTICEADDRESS4}}
                  </p></dd>
                </dl>
                <small class="attribution" title='"Allegheny County Property Assessments" by Allegheny County is CC Zero'>
                  <a target="_blank" href="https://data.wprdc.org/dataset/property-assessments">
                    <img src="/assets/icon/cc-zero.png" alt="CC Zero">
                    Allegheny County
                  </a>
                </small>
              </div>

              <div class="category">
                <h3>Dwelling Characteristics</h3>

                <dl>
                  <dt>Style</dt>
                  <dd><p>{{assessment.STYLEDESC}}</p></dd>

                  <dt>Stories</dt>
                  <dd><p>{{assessment.STORIES}}</p></dd>

                  <dt>Year Built</dt>
                  <dd><p>{{assessment.YEARBLT}}</p></dd>

                  <dt>Exterior Finish</dt>
                  <dd><p>{{assessment.EXTFINISH_DESC}}</p></dd>

                  <dt>Heating/Cooling</dt>
                  <dd><p>{{assessment.HEATINGCOOLINGDESC}}</p></dd>

                  <dt>Roof</dt>
                  <dd><p>{{assessment.ROOFDESC}}</p></dd>

                  <dt>Basement</dt>
                  <dd><p>{{assessment.BASEMENTDESC}}</p></dd>

                  <dt>Grade</dt>
                  <dd><p>{{assessment.GRADE}}</p></dd>

                  <dt>Condition</dt>
                  <dd><p>{{assessment.CONDITIONDESC}}</p></dd>

                  <dt>CDU</dt>
                  <dd><p>{{assessment.CDUDESC}}</p></dd>
                </dl>
                <small class="attribution" title='"Allegheny County Property Assessments" by Allegheny County is CC Zero'>
                  <a target="_blank" href="https://data.wprdc.org/dataset/property-assessments">
                    <img src="/assets/icon/cc-zero.png" alt="CC Zero">
                    Allegheny County
                  </a>
                </small>
              </div>

              <div class="category">
                <h3>Assessment Values</h3>

                <table>
                  <thead>
                    <tr>
                      <th>Portion</th>
                      <th>County</th>
                      <th>Local</th>
                      <th>Fair Market</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Building</td>
                      <td>{{assessment.COUNTYBUILDING}}</td>
                      <td>{{assessment.LOCALBUILDING}}</td>
                      <td>{{assessment.FAIRMARKETBUILDING}}</td>
                    </tr>
                    <tr>
                      <td>Land</td>
                      <td>{{assessment.COUNTYLAND}}</td>
                      <td>{{assessment.LOCALLAND}}</td>
                      <td>{{assessment.FAIRMARKETLAND}}</td>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td>{{assessment.COUNTYTOTAL}}</td>
                      <td>{{assessment.LOCALTOTAL}}</td>
                      <td>{{assessment.FAIRMARKETTOTAL}}</td>
                    </tr>
                  </tbody>
                </table>
                <small class="attribution" title='"Allegheny County Property Assessments" by Allegheny County is CC Zero'>
                  <a target="_blank" href="https://data.wprdc.org/dataset/property-assessments">
                    <img src="/assets/icon/cc-zero.png" alt="CC Zero">
                    Allegheny County
                  </a>
                </small>
              </div>

              <div class="category">
                <h3>Tax Reductions</h3>

                <dl>
                  <dt>Homestead</dt>
                  <dd><p>{{assessment.HOMESTEADFLAG || "NO"}}</p></dd>

                  <dt>Farmstead</dt>
                  <dd><p>{{assessment.FARMSTEADFLAG || "NO"}}</p></dd>

                  <dt>Clean & Green</dt>
                  <dd><p>{{assessment.CLEANGREEN || "NO"}}</p></dd>

                  <dt>Abatement</dt>
                  <dd><p>{{assessment.ABATEMENTFLAG || "NO"}}</p></dd>

                </dl>
                <small class="attribution" title='"Allegheny County Property Assessments" by Allegheny County is CC Zero'>
                  <a target="_blank" href="https://data.wprdc.org/dataset/property-assessments">
                    <img src="/assets/icon/cc-zero.png" alt="CC Zero">
                    Allegheny County
                  </a>
                </small>
              </div>

              <div class="category">
                <h3>Previous Sales</h3>

                <table>
                  <thead>
                    <tr>
                      <th>Sale Date</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{assessment.PREVSALEDATE2}}</td>
                      <td>{{assessment.PREVSALEPRICE2}}</td>
                    </tr>
                    <tr>
                      <td>{{assessment.PREVSALEDATE}}</td>
                      <td>{{assessment.PREVSALEPRICE}}</td>
                    </tr>
                    <tr>
                      <td>{{assessment.SALEDATE}}</td>
                      <td>{{assessment.SALEPRICE}}</td>
                    </tr>
                  </tbody>
                </table>
                <small class="attribution" title='"Allegheny County Property Sale Transactions" by Allegheny County is CC Zero'>
                  <a target="_blank" href="https://data.wprdc.org/dataset/real-estate-sales">
                    <img src="/assets/icon/cc-zero.png" alt="CC Zero">
                    Allegheny County
                  </a>
                </small>
              </div>

              <div class="category">
                <h3>Building Code Violations</h3>

                <p>Currently only available for the City of Pittsburgh.</p>

                <p *ngIf="!result.data.pli_violations.length"> No code violations were found for this property.</p>

                <mat-expansion-panel *ngFor="let violation of result.data.pli_violations">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Case Number: {{violation.CASE_NUMBER}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="content">
                    <dl>
                      <dt>Violation</dt>
                      <dd><p>{{violation.VIOLATION}}</p></dd>

                      <dt>Corrective Action</dt>
                      <dd><p>{{violation.CORRECTIVE_ACTION}}</p></dd>

                      <dt>Location</dt>
                      <dd><p>{{violation.LOCATION}}</p></dd>

                      <dt>Inspection Date</dt>
                      <dd><p>{{violation.INSPECTION_DATE}}</p></dd>

                      <dt>Inspection Result</dt>
                      <dd><p>{{violation.INSPECTION_RESULT}}</p></dd>

                    </dl>
                  </div>
                </mat-expansion-panel>
                <small class="attribution" title='"Pittsburgh PLI Violations Report" by City of Pittsburgh is CC Zero'>
                  <a target="_blank" href="https://data.wprdc.org/dataset/pittsburgh-pli-violations-report">
                    <img src="/assets/icon/cc-zero.png" alt="CC Zero">
                    City of Pittsburgh
                  </a>
                </small>
              </div>

              <div class="category">
                <h3>Tax Liens Summary</h3>

                <p>The information provided here is merely an estimate. Please refer to Allegheny County's Department of Court Records for official tax lien information.</p>

                <p *ngIf="!result.data.tax_liens.length"> No tax liens were found for this property.</p>

                <dl *ngFor="let liens of result.data.tax_liens">
                  <dt>Number of Liens</dt>
                  <dd><p>{{liens.number}}</p></dd>

                  <dt>Total</dt>
                  <dd><p>{{liens.total_amount}}</p></dd>
                </dl>
                <small class="attribution" title='"Allegheny County Tax Liens (Filings, Satisfactions, and Current Status)" by Allegheny County is CC Zero'>
                  <a target="_blank" href="https://data.wprdc.org/dataset/allegheny-county-tax-liens-filed-and-satisfied">
                    <img src="/assets/icon/cc-zero.png" alt="CC Zero">
                    Allegheny County
                  </a>
                </small>
              </div>

              <div class="category">
                <h3>Property Tax Delinquency</h3>

                <p>Currently only for City of Pittsburgh properties.</p>

                <p *ngIf="!result.data.pgh_tax_delinquency.length">No tax delinquencies were found for this property.</p>

                <dl *ngFor="let delinquency of result.data.pgh_tax_delinquency">
                  <dt>Current Delinquency</dt>
                  <dd><p>{{delinquency.current_delq}}</p></dd>

                  <dt>Years Delinquent</dt>
                  <dd><p>{{delinquency.prior_years}}</p></dd>
                </dl>

                <small class="attribution" title='"City of Pittsburgh Property Tax Delinquency" by City of Pittsburgh is licensed under Creative Commons Attribution'>
                  <a target="_blank" href="https://data.wprdc.org/dataset/city-of-pittsburgh-property-tax-delinquency">
                    <img src="/assets/icon/cc-by.png" alt="CC BY">
                    City of Pittsburgh
                  </a>
                </small>
              </div>

              <div class="category">
                <h3>Foreclosure Filings</h3>

                <p>The data presented here is in beta form because only the most recent filing type is included as of September 2017. Monthly updates are forthcoming.</p>

                <p *ngIf="!result.data.foreclosures.length"> No foreclosure filings were found for this property.</p>

                <dl *ngFor="let foreclosure of result.data.foreclosures">
                  <dt>Case</dt>
                  <dd><p>{{foreclosure.case_id}}</p></dd>

                  <dt>Docket Type</dt>
                  <dd><p>{{foreclosure.docket_type}}</p></dd>

                  <dt>Plaintiff</dt>
                  <dd><p>{{foreclosure.plaintiff}}</p></dd>

                  <dt>Filing Date</dt>
                  <dd><p>{{foreclosure.filing_date}}</p></dd>

                  <dt>Amount</dt>
                  <dd><p>{{foreclosure.amount}}</p></dd>
                </dl>

                <small class="attribution" title='"Allegheny County Mortgage Foreclosure Records" by Allegheny County is licensed under Creative Commons Attribution'>
                  <a target="_blank" href="https://data.wprdc.org/dataset/allegheny-county-mortgage-foreclosure-records">
                    <img src="/assets/icon/cc-zero.png" alt="CC Zero">
                    Allegheny County
                  </a>
                </small>
              </div>
            </ng-container>

          </article>
        </div>
      </main>
    </section>
  </div>
</div>
