<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-toolbar class="mat-elevation-z6">
      <mat-toolbar-row>
        <button mat-stroked-button (click)="sidenav.close()">
          <mat-icon title="Close">close</mat-icon> <span class="icon-label">Close</span>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/" *ngIf="authService.isAuthenticated">Search</a>
      <a mat-list-item routerLink="/corpsearch" *ngIf="authService.isAuthenticated">Enumeration</a>
      <a mat-list-item routerLink="/updates">Updates</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="#" *ngIf="authService.isAuthenticated" (click)="accountManagement()">My Account</a>
      <a mat-list-item routerLink="#" *ngIf="authService.isAuthenticated" (click)="doLogout()">Log out</a>
      <a mat-list-item routerLink="#" *ngIf="!authService.isAuthenticated" (click)="doLogin()">Log in/Sign up</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="primary-toolbar mat-elevation-z6">
      <mat-toolbar-row>
        <button mat-stroked-button (click)="sidenav.open()">
          <mat-icon title="Menu">menu</mat-icon> <span class="icon-label">Menu</span>
        </button>

        <a mat-button class="home" routerLink="/">
          <ng-container *ngIf="env.custom.logoUrl">
            <img class="logo" alt="home" [src]="env.custom.logoUrl">
          </ng-container>
          <h1 class="app-name">
            {{ env.siteName }}
          </h1>
        </a>

        <div class="account-nav">
          <a routerLink="/updates" title="Updates">🆕</a>
          <button mat-button *ngIf="authService.isAuthenticated" (click)="accountManagement()">My Account</button>
          <button mat-button *ngIf="authService.isAuthenticated" (click)="doLogout()">Log out</button>
          <button mat-button *ngIf="!authService.isAuthenticated" (click)="doLogin()">Log in/Sign up</button>
          <ng-container *ngIf="appMenu">
            <details class="app-switcher">
              <summary aria-haspopup="true" role="button" title="Open App Menu">
                Open App Menu
              </summary>
              <ul class="dropdown">
                <ng-template #recursiveMenu let-menu>
                  <li *ngFor="let item of menu">
                    <ng-container *ngIf="sameOrigin(item.url); else normalLink">
                      <a routerLink="{{routerifiedLink(item.url)}}">{{item.text}}</a>
                    </ng-container>
                    <ng-template #normalLink>
                      <a href="{{item.url}}">{{item.text}}</a>
                    </ng-template>
                    <ul *ngIf="item.children && item.children.length > 0">
                      <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: item.children }"></ng-container>
                    </ul>
                  </li>
                </ng-template>
                <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: appMenu }"></ng-container>
              </ul>
            </details>
          </ng-container>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-toolbar color="warn" class="mat-elevation-z5 access-expiring" *ngIf="authService.isAuthenticated && accessExpiring">
      <mat-toolbar-row>
        <p><strong>Your access is expiring! Contact <a href="mailto:gazepgh@gmail.com">gazepgh@gmail.com</a> to maintain access.</strong></p>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="app-content" role="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
