mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 18rem;
  max-width: 100%;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.app-content {
  flex-grow: 1;
}

.sidenav-header {
  height: 64px;
}


.primary-toolbar {
  position: relative;
  z-index: 1;

  .account-nav {
    display: flex;
    margin-left: auto;
    align-items: center;

    button {
      margin-right: .5rem;
      margin-left: .5rem;
    }
  }

  .app-switcher {
    padding: .25rem;
    position: relative;
    border-bottom: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill-opacity="0.0"/><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z" fill="%23f1f1f1"/></svg>');
      background-position-x: center;
      background-position-y: center;
      background-repeat: no-repeat;
      background-size: auto;
    font-size: 1.1rem;
    summary {
      border-bottom: transparent !important;
      text-align: left;
      text-indent: -99999px;
      overflow: hidden;
      width: 4rem;
      cursor: pointer;
    }
    .dropdown {
      display: none;
      list-style: none;
      position: absolute;
      z-index: 9999;
      top: 100%;
      padding-top: 1rem;
      margin-top: 0;
      padding-bottom: 1rem;
    }
    &[open] .dropdown {
      display: block;
    }
    .dropdown {
      right: 0;
      text-align: left;
      padding-left: .5rem;
      padding-right: .5rem;
      margin-right: -.25rem;
    }

    .dropdown li {
      margin-top: .25rem;
      margin-bottom: .25rem;
    }

    .dropdown ul {
      padding: 0;
      list-style: none;
      margin-left: .5rem;
    }
  }
}

.access-expiring {
  text-align: center;
  .mat-toolbar-row {
    height: auto;
  }
  p {
    margin-top: 1rem;
    white-space: normal;
    width: 100%;
  }
}

// .app-content and mat-toolbar moved to global.scss so it could apply to
// mat-toolbar elements inside child components

@media (max-width: 33rem) {
  .icon-label {
    display: none;
  }
  .account-nav {
    display: none;
  }
}
