<div class="export-results-dialog">
  <textarea #resultsTextArea>
    {{results}}
  </textarea>
  <div class="actions">
    <button type="button" (click)="copyResults()">Copy</button>
    <button type="button" class="primary" (click)="save()">Download</button>
    <a style="display:none" #fileSaveAnchor></a>
  </div>
</div>
