.choose {
  border: none;
  margin-bottom: 1rem;
  padding-left: 0;
  &:focus-within {
    border: none;
  }
  & > legend {
    font-size: 1.5rem;
  }
}

label {
  display: block;
  position: relative;
}

label.radio {
  padding: .25rem;
  padding-left: 2rem;
  border: 1px solid grey;
  border-radius: .25rem;
}

input[type=radio] {
  position: absolute;
  margin-left: -1.5rem;
}

label.custom-board-name {
  border-color: transparent;
  padding-left: 2rem;
}

.airtable-boards {
  max-height: 30rem;
  overflow: auto;
  label {
    margin-bottom: .25rem;
  }
}

.customize-addresses label {
  display: inline-block;
  border: none;
}

.field-add-rm-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: .25rem;
  label {
    margin-right: .25rem;
    // We set width small and allow it grow into available space so it doesn't
    // overflow the fieldset/cause fieldset to expand
    width: 1rem;
    flex-grow: 1;
    input {
      max-width: 100%;
      height: 100%;
    }
  }
  button {
    width: auto;
  }
}

.actions {
  margin-top: 1rem;
}
