<div class="new-board-dialog">
  <form [formGroup]="formNewBoard" class="new-board" *ngIf="state=='new'">
    <fieldset class="choose">
      <legend>Choose Custom Board or one from Airtable</legend>
      <fieldset class="custom-board">
        <legend>Create Custom Board</legend>
        <label class="radio">
          <input formControlName="newBoard" value="custom" type="radio"/>
          Custom Board
        </label>
        <label class="custom-board-name">
          Custom Board Name<br>
          <input formControlName="boardName" type="text" aria-describedby="boardName-input-error"/>
        </label>
        <p id="boardName-input-error" role="alert" *ngIf="formNewBoard.errors?.nameNotSet">If choosing "Custom Board" you must enter a Custom Board Name</p>
      </fieldset>
      <fieldset class="airtable-boards">
        <legend>Airtable Boards</legend>
        <p *ngIf="airtableLoading">Loading...</p>
        <label class="radio" *ngFor="let plaintiff of plaintiffs">
          <input formControlName="newBoard" [value]="plaintiff.id" type="radio"/>
          <span>{{ plaintiff['Name'] }}</span>, <span>{{ plaintiff['Plaintiff Cluster Total'] }} Records</span>
          <ng-container *ngFor="let address of plaintiff['Plaintiff addresses']">
            <br><span>{{ address }}</span>
          </ng-container>
        </label>
      </fieldset>
    </fieldset>
    <div class="actions">
      <button type="button" [disabled]="!formNewBoard.valid || formNewBoard.value.newBoard == 'custom'" (click)="customize()">Customize Board</button>
      <button class="primary" type="submit" (click)="submitNewBoard()">Create Board</button>
    </div>
  </form>
  <form [formGroup]="formCustomBoard" class="customize-board" *ngIf="state=='customize'">
    <label>
      Board Name
      <input formControlName="name" type="text">
    </label>
    <fieldset class="customize-addresses" type="text">
      <legend>Address Prefills</legend>
      <!-- Switch to iterating the form array. just implement addresses like we do in the property search -->
      <fieldset class="field-add-rm-container" formArrayName="addresses" *ngFor="let address of formCustomBoard.controls['addresses'].controls; index as index">
        <legend>Address {{index+1}}</legend>
        <label>
          <span class="screen-reader-text">Address</span>
          <input type="text" [formControlName]="index">
        </label>
        <button type="button" (click)="removeAddress(index)" title="Remove Address {{index+1}}">-</button>
      </fieldset>
    </fieldset>
    <div class="actions">
      <button type="button" (click)="back()">Back</button>
      <button class="primary" type="submit" (click)="submitCustomizedBoard()">Create Board</button>
    </div>
  </form>
</div>
