@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('/assets/fonts/MaterialIcons-Regular.woff') format('woff'),
       url('/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import '~@angular/material/theming';

// NOTE: Theming is currently experimental and not yet publically released!

@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.app-dark {
  $dark-primary: mat-palette($mat-light-blue, 800);
  $dark-accent:  mat-palette($mat-yellow, 500);
  $dark-warn:    mat-palette($mat-red);
  // color: #f44336;

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent);

  @include angular-material-theme($dark-theme);

  fieldset {

    &:focus-within {
      border-style: solid;
      // border-bottom-color: mat-color($dark-primary);
    }
    &.ng-invalid.ng-dirty.ng-touched:not(:focus-within) {
      border-bottom-color: mat-color($dark-warn);
      legend {
        color: mat-color($dark-warn);
      }
    }
  }

  .warn-color {
    color: mat-color($dark-warn);
  }

  section.header {
    text-align: center;
    // margin-left: -1rem;
    // margin-right: -1rem;
    // width: auto;
    // max-width: unset;
    padding-top: 3rem;
    padding-bottom: 3rem;
    h2 {
      font-size: 3rem;
      line-height: 1.6;
    }
    .actions {
      margin-top: 3rem;
    }
  }

  .login-prompt {
    text-align: center;
  }

  app-home {
    section.header {
      background-color: mat-color($dark-primary);
      a:not([class*=-button]):not(.mat-list-item) {
        // Applies to unvisited links
        &:link {
          color: #303030;
        }

        // Applies to visited links
        &:visited {
          color: #424242;
        }

        // Applies to elements that are being hovered over.
        &:hover,
        // Applies to elements that have the focus
        &:focus {
          outline: 1px dotted;
        }
      }
    }
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(255, 255, 255, 0.7);
  }

  a:not([class*=-button]):not(.mat-list-item) {
    // Applies to unvisited links
    &:link {
      color: #81d0ff;
    }

    // Applies to visited links
    &:visited {
      color: #65a3c8;
    }

    // Applies to elements that are being activated (BUTTON, INPUT, A, etc.)
    &:active {
      // outline: 1px dotted;
    }

    // Applies to elements that are being hovered over.
    &:hover,
    // Applies to elements that have the focus
    &:focus {
      outline: 1px dotted;
    }
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #81d0ff;
  }

  .mat-dialog-container {
    max-height: 100vh;
  }

}

mat-toolbar.page-info {
  background-color: #424242;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  height: 100%;
}

body {
  margin: 0;

  mat-form-field {
    width: 100%;
  }

  .mat-form-field-infix {
    width: auto;
  }

  .mat-form-field-underline {
    position: static;
  }

  .mat-form-field-subscript-wrapper {
    position: static;
  }

  .mat-snack-bar-container {
    max-width: 66vw;
  }
}

.mat-typography {
  line-height: 1.4;
}

.mat-toolbar.mat-primary {
  background-color: #1A1A1A;
}

.mat-toolbar.mat-primary a.home .mat-button-wrapper {
  display: flex;
  align-items: center;
  img {
    max-width: 3rem;
  }
}

.app-switcher .dropdown {
  background-color: #1A1A1A;
  a {
    color: #fff;
  }
}

mat-toolbar.page-info {
  mat-toolbar-row {
    min-height: 5rem;
  }
}

mat-card {
  line-height: 1.2;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.mat-optgroup .mat-option {
  padding-left: 2rem;
}

.mat-option.two-lines {
  height: 56px;
  line-height: 1;
  small {
    font-size: .65625rem;
    opacity: .7;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.app-content {
  // padding-left: 1rem;
  // padding-right: 1rem;
  mat-toolbar {
    width: auto;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 2rem;
  }
}

mat-paginator {
  .mat-paginator-container {
    // we want the top-down order to match left-right in ltr
    flex-wrap: wrap;
  }
}

mat-paginator.condensed {
  border-radius: 4px;
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-paginator-container {
    min-height: 0;
  }
  .mat-paginator-page-size {
    max-height: 36px;
    align-items: center;
  }
  .mat-paginator-page-size-select {
    margin-top: 0;
    max-height: 100%;
  }
    .mat-form-field-flex {
      height: 36px;
    }
  .mat-paginator-range-actions {
    max-height: 100%;
  }
  .mat-icon-button {
    height: 36px;
    line-height: 1;
    width: 36px;
  }
}

mat-form-field.condensed {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  mat-radio-button {
    position: relative;
    background-color: #424242;
    border-radius: .25rem;
    padding: .5rem;
    padding-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    &:not(.mat-radio-checked) .mat-radio-outer-circle {
      border-color: transparent;
    }
  }
  .mat-radio-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .mat-radio-outer-circle {
      width: 100%;
      height: 100%;
      border-radius: .25rem;
    }
    .mat-radio-inner-circle {
      top: 50%;
      margin-top: -10px;
      left: .25rem;
    }
    .mat-radio-ripple {
      display: none;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      .mat-ripple-element {
        border-radius: .25rem;
      }
    }
  }
}

button, .button {
  background-color: #FBFAFA;
  color: #333;
  font-size: 1.06rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;;
  line-height: .9;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-right: .5rem;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
}

button.icon {
  border-color: transparent;
  background-color: transparent;
  color: #f1f1f1;
}

button.primary {
  color: #000;
  background-color: #faa300;
}

button:disabled {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #c9c9c9;
  color: #fff;
  pointer-events: none;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
